.table {
    position: absolute;
    /* border: solid 0.75px black; */
    color: black;
    border-style: hidden;
    overflow: hidden;
    box-shadow: 0 0 0 0.75px black;
    border-radius: 10px;

}

.table,
.td {
    border-collapse: collapse;
    border-spacing: 0px;
}

.tr {
    height: 49px;
    border-collapse: collapse;
}

.th {
    border: solid 0.75px;
    height: 11px;
    font-size: 9px;
    text-align: center;
    font-weight: 400;
    border-collapse: collapse;
}