body {
    margin: 0;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.centerR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Container for PickADisplay, SelectATheme, Styling, DisplaySettings */
.menuItemContainer {
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 20px #C2B8A3, -2px 2px 20px #C2B8A3;
}

.menuItemInnerInput {
    border: solid 1px;
    border-radius: 20px;
    padding: 2% 4%;
    margin: 10px 0px;
}