html::-webkit-scrollbar {
    width: 1vw;
    /* scrollbar-color: #C2B8A3 #E6DDC6; */
}

html::-webkit-scrollbar-thumb {
    background-color: #A1988299;
    border-radius: 100px;
}

html::-webkit-scrollbar-track {
    background-color: #DAD6CE99;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #A19882;
}

div::-webkit-scrollbar {
    width: 0.6vw;
    /* scrollbar-color: #C2B8A3 #E6DDC6; */
}

div::-webkit-scrollbar-thumb {
    background-color: #A19882;
    border-radius: 100px;
}

div::-webkit-scrollbar-track {
    background-color: #DAD6CE11;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #A19882;
}

/* body {
    
} */

main {
    margin: 0;
    min-height: 100vh;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

table {
    z-index: 3;
}

th {
    font-family: 'DM Serif Display', serif;
}

td {
    text-align: left;
}

form {
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.centerR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Container for PickADisplay, SelectATheme, Styling, DisplaySettings */
.menuItemContainer {
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 20px #C2B8A3, -2px 2px 20px #C2B8A3;
}

.menuItemInnerInput {
    border: solid 1px;
    border-radius: 20px;
    padding: 2% 4%;
    margin: 10px 0px;
}

/* Container for DownloadImage, SaveAsPDF */
.downloadContainer {
    display: "flex";
    flex-direction: "row";
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
    background-color: "transparent";
}

.downloadContainerDarkMode {
    border: 1px solid #DAD6CE;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    /* // CSS Grid/Flexbox bug size workaround
    // @see https://github.com/kenwheeler/slick/issues/982
    // @see https://github.com/nolimits4web/swiper/issues/3599 */
    min-height: 0;
    min-width: 0;
}


.slider-main-container {
    position: relative;
    width: 100%;
}

swiper-slide {
    width: 100%;
    height: 100%;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-btn {
    display: block;
    position: absolute;
    z-index: 20;
    user-select: none;
    /* -webkit-user-select: none; */
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}

/* .nav-btn:hover {
    background-color: rgb(255, 165, 0);
} */

.nav-btn.custom-prev-button {
    top: 50%;
    left: 1em;
}

.nav-btn.custom-next-button {
    right: 1em;
    top: 50%;
}